.games {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;

}
.link{
	text-decoration: none;
	color: white;
	text-align: center;
	&:hover {
		opacity: .7;
		content: "Renaissance";
		transform: rotateX(45);
	}
	h4 {
		background: black;
		width: 200px;
		margin-left: 10px;
	}
}
.gameCard {
	height: 200px;
	width: 200px;
	margin: 10px;
}
.imp {
		background-image: url('../img/imp/bridge.jpg');
		background-size: cover;
}
.ren {
	background-image: url('../img/ren/david.jpg');
	background-size: cover;
}
.bar {
	background-image: url('../img/bar/rubens.jpg');
	background-size: cover;
}
.post {
	background-image: url('../img/post/seurat.jpg');
	background-size: cover;
}
