body {
  margin-left: 20px;
  margin-right: 20px;
}
.hero {
  margin-top: 15px;
  max-width: 100%;
  border-bottom:  1px solid black;
  margin-bottom: 20px;
  .heroImg {
    background-image: url('../img/hero2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 500px;
    margin-bottom: 25px;
  }
}

.mvp {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  margin-top: 25px;
  .search {
    flex-direction: column;
    height: 500px;
    width: 50%;
    .searchText {
      padding-bottom: 10px;
    }
    .searchImg {
    background-image: url('../img/bridge.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
    &:hover {
      opacity: .7;
      .title {
        display: block;
        opacity: 1;
        background: black;
        color: white;
      }
    }
    .title {
      display: none;
    }
    }
  }
  .rightColumn {
    flex-direction: column;
    width: 50%;
    padding-top: 60px;
    margin-left: 15px;
    .rightColumnText {
      padding-top: 100px;
    }
    .gallery {
      flex-direction: row;
      text-align: center;
      .galleryBlock{
        background: #5A271A;
        height: 245px;
      }
    }
    .game {
      flex-direction: row;
      text-align: center;
      .gameBlock {
      background: #B28A3A;
      height: 245px;
      margin-bottom: 10px;
      }
    }
  }
}
