nav {
  border-bottom: 1px solid #000;
  padding-top: 20px;
}

 #logo {
  z-index: 10;
  font-size: 40px;
  padding-top: 20px;
  text-decoration: none;
  color: black;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    a {
       display: block;
       color: #000;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       &:hover {
           background-color: #000;
           color: #fff;
       }
   }
}
